/* GENERAL CONFIG VARIABLES */

:root {
    --font-titre:'Montserrat', sans-serif !important;
    --font-corps:'Hanken Grotesk', sans-serif !important;

    --light-blue:rgb(53,211,210);
    --dark-blue:rgb(11,72,157);
    --orange-bellon:rgb(254,95,0);
    --ligth-gray:rgb(245,245,245);
    --gray:rgb(114,120,126);
    --yellow: rgb(255,213,7);
    --red: rgb(255,0,0);
    --green:#5CFF58;
    --blanc-active : rgba(220,220,220,0.6);

    --dblue-active:rgba(10,65,142);
    --lblue-active:rgba(50,199,198);
    --orange-active:rgba(233,87,0);

    --shadow-20: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
.cursorP {cursor:pointer;}

.nombre {text-align:right;}

/* width */
.w100 {width:100%;}
.w75 {width:75%;}
.w50 {width:50%;}
.w45 {width:45%;}
.w30 {width:30%;}
.w25 {width:25%;}

.p-15 {padding:15px;}

.radius-5 {border-radius:5px;}
.radius-10 {border-radius:10px;}

/*Confirmation*/

.jconfirm-box {
    width: 30vw;
}