/* GENERAL CONFIG VARIABLES */

:root {
    --font-titre:'Montserrat', sans-serif !important;
    --font-corps:'Hanken Grotesk', sans-serif !important;

    --l-blue:rgb(53,211,210);
    --d-blue:rgb(11,72,157);
    --o-bellon:rgb(254,95,0);
    --ligth-gray:rgb(245,245,245);
    --gray:rgb(114,120,126);
    --yellow: rgb(255,213,7);
    --red: rgb(255,0,0);
    --green:#5CFF58;
    
    --blanc-active : rgba(220,220,220,0.6);

    --dblue-active:rgba(10,65,142);
    --lblue-active:rgba(50,199,198);
    --orange-active:rgba(233,87,0);

    --dblue-surlign:rgba(206,218,235,1);

    --shadow-20: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display:none;;
}

.bg-dblue {background-color: var(--d-blue)}
.bg-lblue {background-color: var(--l-blue)}
.bg-orange {background-color: var(--orange-active)}

.cursorP {cursor:pointer;}

.nombre {text-align:right !important;}

.desac {opacity:0.3;}

/* width */
.w100 {width:100%;}
.w49 {width:49%;}
.w75 {width:75%;}
.w50 {width:50%;}
.w45 {width:45%;}
.w32 {width:32%;}
.w30 {width:30%;}
.w28 {width:28%;}
.w25 {width:25%;}

.p-15 {padding:15px;}

.border-left-0 {border-left:0;}
.border-right-0 {border-right:0;}

.radius-5 {border-radius:5px;}
.radius-left-5  {border-radius: 5px 0 0 5px !important;}
.radius-right-5 {border-radius: 0 5px 5px 0 !important;}
.radius-10 {border-radius:10px;}
.radius-left-10 {border-radius:10px 0 0 10px !important;}
.radius-right-10 {border-radius:0 10px 10px 0 !important;}

/*Confirmation*/

.jconfirm-box {
    width: 30vw;
}