@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    background-color:lightgrey;
    width:100%;
    min-height:100vh;
    font-size: 0.75em!important;
    font-family: "Hanken Grotesk", serif;
    font-optical-sizing: auto;
}

#page-desktop {
    background: url('../img/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    padding:20px 40px;
}
.entete {
    padding:15px;
    border-radius:10px;
    margin-bottom:1.5em;
}
.entete button, .entete select {
    height:40px;
    border-radius:5px;
}
.entete button, .entete label, .entete select {
    font-size:16px;
}
.entete label, .entete button {
    font-weight:500;
}
#selectMac {
    width:300px;
    padding: 0 15px;
}
#btnImpBL {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.5em;
}
#btnImpBL img {
    width:25px;
}

.blocs {
    display:flex;
    flex-wrap:wrap;
    gap:1.5em 1%;
}
.bloc {

}
.bloc-left {
    width:59%;
}
.bloc-right {
    width:40%;
}

/* TABLES */
.titleTable {
    font-size:16px;
    color: var(--light-blue);
    padding-top:8px;
}
.sgTable thead tr:nth-child(2) th {
    padding-bottom:8px;
}
/* TABLE À FABRIQUER */

#bloc-btn button {
    font-weight:500;
    font-size:16px;
}