.sgTableBloc {border-radius:10px; overflow-y:scroll;}
.sgTable {width:100%; border-collapse:collapse;}
.sgTable thead {
    border-radius: 10px 10px 0 0;
    background-color: var(--d-blue) !important;
    color: white;
    height:60px;
    position:sticky;
    top:0;
}
.sgTable tr {
    width:100%;
    height:30px;
}
.sgTable thead th {
    background-color:transparent;
    padding-left:15px;
    padding-right:15px;
    text-align:left;
    font-size:15px;
}
.sgTable tbody {background-color:white;}
.sgTable tbody tr:hover { background-color:var(--dblue-surlign) !important; }
.sgTable tbody td {
    padding:5px 15px;
    font-size:14px;
    height:30px;
}

.titleTable {
    font-size:16px;
    color: var(--l-blue);
    padding-top:8px;
}
.sgTable thead tr:nth-child(2) th {
    padding-bottom:8px;
}

.sgTableColor tbody > tr:nth-child(even) { background-color: rgba(234, 241, 250, 0.8); }
  
::-webkit-scrollbar {
    display:none;;
}
